Checks: >
  *,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -fuchsia-*,
  -google-readability-namespace-comments,
  -hicpp-signed-bitwise,
  -hicpp-vararg,
  -llvm-*,
  -llvmlibc-*,
  -misc-unused-parameters,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
